*{padding: 0;margin: 0;}
body{
	width: 100%;
	height: 100%;
	background:-moz-linear-gradient(yellow 0%,black 100%);
	background:-webkit-linear-gradient(yellow 0%,black 100%);
}
.container{
	width: 200px;
	height: 200px;
	margin: 200px auto;
	transform-style: preserve-3d;
	animation: rotate 10s infinite;
	animation-timing-function: linear;
}
.container div{
	position: absolute;
	transition: all 2s;
}
.container img {
	width: 100px;
	height: 100px;
	opacity: 0.9;
}
@keyframes rotate{
	from{transform: rotateX(0deg) rotateY(0deg);}
	to{transform: rotateX(360deg) rotateY(360deg);}
}
.outfrount{
	transform: translateZ(-50px) ;
}
.out_back{
	transform: translateZ(50px) ;
}
.out_left{
	transform: rotateY(90deg) translateZ(50px);
}
.out_right{
	transform: rotateY(-90deg) translateZ(50px) ;
}
.out_top{
	transform: rotateX(90deg) translateZ(50px) ;
}
.out_bottom{
	transform: rotateX(-90deg) translateZ(50px) ;
}